body {
	margin: 0 5% 0 5%;
	/*background-image: url(../images/IMG_2194.jpg);*/
	background-image: url(../images/background.jpg);
	background-size: no-repeat center center fixed;
}

h1, h2, h3 {
	font-family: 'Playball', cursive;
}

p, label {
	font-family: 'Antic Slab', serif;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
	width: 20px;
}

.carousel-indicators {
	bottom: -45px;
}

.heading {
	text-align: center;
	width: 100%;
}

#title {
	font-size: 6em;
	margin-bottom: 0;
}

#subtitle {
	margin-top: 0;
	text-align: center;
}

.our-photos .item, .item-active {
	padding: 10% 10% 10% 10%;
}

.our-photos img {
	border: solid white 2px;
}

.our-story {
	background: #c2c4be;
	border: solid black 1px;
	margin-top: 6%;
	margin-bottom: 10%;
}

.wedding-party-title {
	text-align: center;
	font-size: 2em;
	background: #c2c4be;
	width: 90%;
	margin-left: 5%;
}
.wedding-party {
	margin-left: 10%;
}

.wedding-party, .wedding-party-2 {
	padding-bottom: 5%;
}

.wedding-party .item, .item-active, .wedding-party-2 .item, .item-active {
	padding: 10% 10% 10% 10%;
}

.schedule {
	margin-left: 8%;
	background: #c2c4be;
}

.rsvp {
	background: #c2c4be;
	padding-bottom: 5%;
	margin-left: 7%;
	margin-bottom: 3%;
}

#form-title {
	font-family: 'Playball', cursive;
	font-size: 2em;
}

#comments, #name, #email {
	width: 70%;
}

.guests-div, .party-div {
	display: none;
}

.rsvp input, select {
	margin-bottom: 4%;
}

.rsvp label {
	margin-bottom: 1%;
}

.rsvp textarea {
	width: 80%;
}

.rsvp legend {
	margin-bottom: 0px;
}

.legend-text {
	text-align: center;
}

.venue-photo {
}

.venue-photo img {
	width: 100%;
}

.venue-desc {
	background: #c2c4be;
	margin-bottom: 10%;
}

.places {
	
}

.registry {

}

@media (max-width: 990px) {
	.our-photos {
		width: 100%;
	}

	.our-photos img {
		width: 100%;
	}

	.rsvp {
		margin-left: 0px;
	}

	.rsvp label{
		font-size: 2em;
	}

	.schedule {
		margin-left: 0px;
		margin-bottom: 5%;
	}

	.wedding-party {
		margin-left: 0px;
		width: 100%;
	}

	.wedding-party img {
		width: 100%
	}

	.carousel-caption {
		color: black;
		padding-bottom: 3%;
	}

	.carousel-caption h3 {
		font-size: 3em;
	}

	.wedding-party-2 img {
		width: 100%
	}

	.wedding-party-2 {
		margin-left: 0px;
		width: 100%;
	}

}